@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter'sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(0, 0, 0);
    background-image: linear-gradient(to right, #da5984, #dddcdb92);
}

.input-group {
    display: flex;
    align-items: center;
    background-color: rgb(240, 239, 240);
    padding: 8px 16px 8px 8px;
    border-radius: 24px;
    gap: 8px;
}

.input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    min-width: 32px;
    min-height: 32px;
    background-color: rgb(192, 107, 59);
    color: rgb(27, 35, 3);
}

.input-field {
    width: 100%;
    border: none;
    background-color: transparent;
}

.input-field:focus {
    outline: none;
}

.itens {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    margin-top: 12px;
    background-color: #fff;
    border-radius: 24px;
    padding: 14px;
    width: 350px;
    max-height: 421px;
    overflow-y: auto;
}

.item {
    display: flex;
    gap: 12px;
}
.item-image {
    width: 150px;
    height: 170px;
}

.item-image img {
    width: 150px;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
}

.item-title {
    font-size: 18px;
    color: #333;
}

.item-subtitle {
    font-size: 12px;
    color:black
}
.item-description {
    font-size: 14px;
    color: #666;
}

#no_results {
    display: none;
    text-align: center;
}